body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0px 0px 150px 0px;
  background-color: #f5f4ec;
}

#nav {
  height: 40px;
  background-color: #f5f4ec;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 15px 15px;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #bbbabe;
}

#nav a {
  text-decoration: none;
  padding-left: 20px;
  vertical-align: super;
  float: left;
  margin-top: 15px;
}

#nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

img#flowers{
  height: 40px;
  z-index: 2;
  float: left;
}

img#engagement-hero {
  width: 100%;
}

.how-we-met img {
  max-width: 400px;
  margin: auto;
  display: block;
}

a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #427342;
}

a:hover {
  font-weight: bold;
}

h2 {
  color: #427342;
  font-family: 'Old Standard TT', serif;
  font-size: 24px;
}

.ember-application {
  position: absolute;
  width: 100%;
}

#content {
  max-width: 600px;
  margin: auto;
  padding-top: 10px;
}

.ember-view {
  margin-top: 60px;
}

.paragraph-group {
  margin-bottom: 20px;
}

.paragraph-group p {
  margin: 0px;
}

li {
  list-style-type: none;
}

li a {
  padding-right: 5px;
}
