<img id="engagement-hero" src="/assets/engagement.jpg" alt="engagement pic"/>

<div id='content'>
  <h2>{{t 'Wedding.Our_Wedding'}}</h2>
  <div class='paragraph-group'>
    <p>{{t 'Wedding.Saturday_September_17'}}</p>
    <p>{{t 'Wedding.5_PM'}}</p>
    <p>
    The Brooklyn Society for Ethical Culture
    </p>
    <p>
    53 Prospect Park West
    </p>
    <p>
    Brooklyn, NY 11215
    </p>
  </div>
</div>
