<div id='content' class='how-we-met'>
  <h2>How We Met</h2>
  <p>
    Rebecca and Francisco met on a ski trip organized by their coworkers. They realized that they both lived in Chicago and began spending time after work together.
  </p>
  <img src="/assets/cubs.jpg" alt="cubs game"/>
  <p>
  About a year into their relationship, Francisco and Rebecca moved in together when they moved to Ecuador for work! They spent a year there, working and climbing mountains on the weekends.
  </p>
  <img src="/assets/quilotoa.jpg" alt="Ecuador"/>
  <p>
  When their year was done, they moved to Dallas. Along the way they adopted a cat, Wendy Davis.
  </p>
  <img src="/assets/wendy.jpg" alt="wendy davis the cat"/>
  <p>
    Shortly after Rebecca moved to New York for a work opportunity, Francisco followed suit, picking up and moving to Brooklyn. Wendy was thrilled 😻.
  </p>
  <img src="/assets/halfmarathon.png" alt="the brooklyn half marathon"/>
  <p>
    This past fall, Francisco organized a trip to the Catskills mountains, a couple hours away from New York City. After a day spent hiking they went out for a nice dinner. Back at their cabin afterwards, Francisco proposed to Rebecca.
  </p>
  <img src="/assets/engagement.jpg" alt="getting engaged"/>
</div>
