<div id='content'>
  <h2>Registry</h2>

  <div class='paragraph-group'>
    <p>What we want most for our wedding is to have all of our friends and family together. More than anything, we consider your presence the best gift to us. That said, if you would like to get us something tangible, here are some suggestions:</p>
    <ul>
      <li><a href='http://www.bloomingdales.com/registry/wedding/guest/?registryId=6488785'>Bloomingdale's</a></li>
      <li><a href='https://wanderable.com/hm/rebeccaandfrancisco/registry-items'>Wanderable</a>We've also set up a small registry for our honeymoon. We love the idea that loved ones could contribute something to our first trip as a married couple.</li>
    </ul>
  </div>

</div>
