<div id='content'>
  <h2>{{t 'registry.Registry'}}</h2>

  <div class='paragraph-group'>
    <p>{{t 'registry.What_we_want_most_for_our_wedding_is_to'}}</p>
    <ul>
      <li><a href='http://www.bloomingdales.com/registry/wedding/guest/?registryId=6488785'>Bloomingdale's</a></li>
      <li><a href='https://wanderable.com/hm/rebeccaandfrancisco/registry-items'>Wanderable</a>{{t 'registry.Weve_also_set_up_a_small_registry'}}</li>
    </ul>
  </div>

</div>
