<div id='content'>
  <h2>{{t 'registry.Registry'}}</h2>

    <p>{{t 'registry.What_we_want_most_for_our_wedding_is_to'}}</p>
    <ul>
      <div class='paragraph-group'>
        <li><a href='http://www.bloomingdales.com/registry/wedding/guest/?registryId=6488785'>Bloomingdale's</a></li>
      </div>
      <div class='paragraph-group'>
        <li><a href='https://www.wanderable.com/hm/rebeccaandfrancisco'>Wanderable</a>{{t 'registry.Weve_also_set_up_a_small_registry'}}</li>
      </div>
    </ul>

</div>
