<div id='content'>
  <h2>Dining and Entertainment in New York City</h2>

  <p>Here are some of the places we visit frequently and think you'll love, too!</p>

  <div class='paragraph-group'>
    <p><a href='https://en.wikipedia.org/wiki/Prospect_Park_(Brooklyn)'>Prospect Park</a></p>
    <p>Prospect Park is Brooklyn's version of Central Park. Our wedding venue is actually adjacent to the park, but it's a great place to visit in advance if you'd like to ride bikes, go for a run, or have a picnic at its Saturday-morning farmer's market!</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://brooklynboulders.com/brooklyn/'>Brooklyn Boulders</a></p>
    <p>Brooklyn Boulders is an <i>incredible</i> climbing gym that's welcoming to newcomers and a fun place to get a workout in.</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://www.threesbrewing.com/'>Threes Brewing</a></p>
    <p>This is a fun brewery that's right around the corner from Brooklyn Boulders. It's kid-friendly, and they have neighborhood restaurants come in and sell food. It's a great place for a casual meal.</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://pizzalovesemily.com/'>Emily Pizza</a></p>
    <p>This is a pizza place that's close to downtown Brooklyn. All their pies are delicious, but our favorite is the namesake, which is topped with pistachios!</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://www.russanddaughterscafe.com/'>Russ and Daughters Cafe</a></p>
    <p>This cafe is an offshoot of a hundred-year-old deli. Make sure to come early for breakfast and grab a bagel platter with piles of smoked fish!</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='jamesrestaurantny.com'>James Restaurant</a></p>
    <p>This restaurant is in Prospect Heights, close to downtown Brooklyn. The delicious food is made even better by the Brownstone setting in a cute neighborhood.</p>
  </div>
</div>
